.u__margin__top {
  margin-top: 4rem;

  @media (max-width: 768px) {
    margin-top: 1.5rem;
  }
}

.projects {
  margin-top: 15rem;
  text-align: center;

  @media (max-width: 768px) {
    margin-top: 7rem;
  }

  &__texts {
    margin-bottom: 3rem;

    @media (max-width: 768px) {
      margin-bottom: 2;
    }

    h3 {
      font-size: 3rem;
      color: $color-grey-secondary-1;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }
    p {
      font-size: 2rem;
      color: $color-grey-secondary-1;
      font-weight: 600;

      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }
  }

  &__boxes {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 70%;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 90%;
      gap: 4rem;
    }

    &__1 {
      width: 20rem;
      height: 20rem;
      transition: all 0.3s;
      border: 1px solid rgb(240, 240, 240);
    }
    &__1:hover {
      transform: translateY(-2rem);
      box-shadow: 0px 27px 35px rgba($color-blue-primary, 0.163);
    }
    @media (max-width: 768px) {
      &__1:hover {
        transform: translateY(0);
        box-shadow: none;
      }
    }

    &__one {
      background-image: url(./images/detour.png);
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__two {
      background-image: url(./images/Globalchef.png);
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__three {
      background-image: url(./images/tradexpress.png);
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__four {
      background-image: url(./images/omnifood.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
    &__five {
      background-image: url(./images/nasims.png);
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__six {
      background-image: url(./images/countdown.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
